<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Lejátszás">
    	<setting id="showSubtitle" type="bool" label="Feliratok automatikus megjelenítése" default="false"/>
		<setting id="ver" type="text" default="" visible="false" />
    </category>
</settings>